<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template 4</title>
    <link rel="stylesheet" href="/style/template4.css" />
  </head>
  <body>
    <div class="container">
      <div class="heading"><h1>Study India vs Study Abroad</h1></div>
    </div>
    <div class="container1">
      <div class="left">
      <h1>Some text on the left</h1>
      </div>
      <div class="center">
      <h1>Some text in center</h1>
      </div>
      <div class="right">
      <h1>Some text on the right</h1>
      </div>
      </div>
  </body>
</html>
